BODY {
	FONT-SIZE: 12px
}
P {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
LI {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
from {
	FONT-SIZE: 12px
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: underline
}
.heicu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
.lancu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0066cc; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.kuang {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 17px
}
.red {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.b:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.b:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.b:hover {
	FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: none
}
.white {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.c:link {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
.c:visited {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
.c:hover {
	FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: underline
}
.c:active {
	FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: underline
}
.about {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.peixu {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.redbiaoti {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc3300; TEXT-DECORATION: none
}
.e:visited {
	FONT-SIZE: 12px; COLOR: #0f62ba; TEXT-DECORATION: none
}
.e:hover {
	FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: underline
}
.e:link {
	FONT-SIZE: 12px; COLOR: #0f62ba
}
.w:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.w:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
.w:link {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.big {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
.newsline TD {
	LINE-HEIGHT: 25px; BORDER-BOTTOM: #c9c9c9 1px dashed
}
.newsline TD A:link {
	COLOR: #000
}
.newsline TD A:visited {
	COLOR: #000
}
.newsline TD A:hover {
	COLOR: #000
}
.newsline TD A:active {
	COLOR: #000
}