BODY {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	margin: 0px;
}
a:link {
}
.style1 {font-size: 24px}
a {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	text-decoration: underline;
}
.unnamed1 {
	font-size: 14px;
	font-weight: bold;
}
.unnamed2_link {
	border: 1px solid #C2F0A9;
}
.unnamed2＿51 {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #33AD16;
	border-right-color: #33AD16;
	border-bottom-color: #33AD16;
	border-left-color: #33AD16;
}
.unnamed2_14 {
	font-size: 14px;
	font-weight: bold;
}
.unnamed1_rld {
	border: 1px solid #E7E7E7;
}
.unnamed2_ldr {
	border: 1px solid #FF9900;
}
.unnamed2 {
}
.unnamed3_14write_b {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
tr {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

tbody {
	font-size: 12px;
}
.unnamed_rld2 {
	border: 1px solid #BCBCBC;
}
.unnamed3write {
	font-size: 12px;
	color: #FFFFFF;
}
.unnamed3write:hover {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
}