<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--接收器默认ip及端口-->
    <add key="DefaultIP" value="192.168.0.197"/>
    <add key="DefaultPortNo" value="20108"/>
    
    <!--本地监听端口-->
    <add key="ListenPort" value="8567"/>

    <!--地图默认路径-->
    <add key="MapPath" value="./Map/Map.jpg"/>

    <!--参考点等数据存储xml路径-->
    <add key="DataSource" value="./Data.xml"/>
    
    <!--参考点个数-->
    <add key="ReferPointCount" value="8"/>
    
  </appSettings>
</configuration>